blinker
certifi
charset-normalizer
click
colorama
Flask
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
python-dateutil
pytz
six
tzdata
urllib3
Werkzeug
zipp
pip
requests
setuptools
python-dotenv
dbt-core 
dbt-postgres
azure-storage-blob